@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #131419;
  --heading-color: #eeeeee;
  --symbol-color: #ffd369;
  --button-clicked: #454340;
  --text-color: #555;
  --link-color: #26b3f0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
}
.form {
  position: relative;
  width: 380px;
  padding: 40px 40px 60px;
  background: var(--background-color);
  border-radius: 10px;
  text-align: center;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
    5px 5px 15px rgba(0, 0, 0, 0.5);
}

.form .input {
  text-align: left;
  margin-top: 30px;
}

.form .input .inputbox {
  margin-top: 20px;
}

.form .input .inputbox label {
  display: block;
  color: #50c878;
  margin-bottom: 5px;
  font-size: 18px;
}

.form .input .inputbox input {
  width: 100%;
  height: 50px;
  background: #131419;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 5px 15px;
  /* color:#ffg; */
  font-size: 18px;
  color: var(--symbol-color);
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.form .input .inputbox input[type="submit"] {
  margin-top: 20px;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8);
}

.form .input .inputbox input[type="submit"]:active {
  color: var(--button-clicked);
  margin-top: 20px;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.form .input .inputbox input::placeholder {
  color: var(--text-color);
  font-size: 18px;
  text-align: center;
}

.input-icon {
  position: relative;
  left: 20px; /* Adjust as needed */
  z-index: 1; /* Ensure it has a higher z-index */
  transform: translateY(35px); /* Adjust the pixels for vertical positioning */
  color: var(--text-color);
  font-size: 18px;
}

.input-icon {
  -webkit-user-select: none; /* Prevents the icon from being selected */
  user-select: none;
  pointer-events: none; /* Disables pointer events on the icon */
  /* Other styles... */
}



.forget {
  margin-top: 30px;
  color: var(--text-color);
}

.forget a {
  color: #26b3f0;
  text-decoration: none;
}

.form span {
  display: block;
}

.text1 {
  color: var(--heading-color);
  font-weight: 500px;
  letter-spacing: 8px;
  font-size: 30px;
  margin-bottom: 10px;
  background: #131419;
  position: relative;
  -webkit-animation-name: text;
  -webkit-animation-duration: 3s;
  animation-name: text;
  animation-duration: 3s;
}

.text2 {
  font-size: 50px;
  color: var(--symbol-color);
  top: 30%;
  left: 30%;
  margin-left: -20%;
  margin-top: -15%;
}

.text3 {
  font-size: 68px;
  color: var(--symbol-color);
  margin-top: -16%;
}

.text4 {
  font-size: 50px;
  color: green;
  margin-right: -20%;
  margin-top: -67px;
}

@keyframes text {
  0% {
    color: var(--link-color);
    margin-bottom: -20px;
  }
  30% {
    /* color:lightblue; */
    letter-spacing: 15px;
    margin-bottom: -20px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -20px;
  }
}

@-webkit-keyframes text {
  0% {
    color: #131419;
    margin-bottom: -20px;
  }
  30% {
    color: lightblue;
    letter-spacing: 15px;
    margin-bottom: -20px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -20px;
  }
}
